html{
    background-color: #0092f2;
}

.main_heading{
    color: #0092f2;
    font-family: "Helvetica Neue";
    margin-bottom: 2px;
    padding-bottom: 2px;
    margin-left: 50px;
    margin-top: 80px;
    font-style: oblique;
}

#references{
    width : 100%;
    padding : 10px;
    background-color: #81d5f2;
}

a:active{
    font-family: Calibri;
    font-size: 20px;
    font-style: oblique;
}

a:hover{
    color: lightgrey;
}

a:visited{
    color : #4342f2;

}
img{
    position: fixed;
    right: 100px;
    top:30px;
}

hr{
    background-color: #dbdbdb;

}

#mainbody{
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 90%;
    padding: 5px 0px 0px 0px;
    border-radius: 15px;
    min-height: 100%;

}

#info{
    border-radius: 5px;
    background-color: #d1d1d1;
    padding: 10px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 30px;

}

#mylists{

    padding: 10px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;

    width: inherit;
    display: inline-block;


}

.topic {
    width: 20%;
    float: left;

    padding-left: 20%;
    font-size: 25px;
    font-style: oblique;
    display:inline-block;
    color: #1832f2;



}

.details{
    line-height: 25px;
    width: 60%;
    float: right;
    display:inline-block;



}



.sublist{
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 45px;
    margin-bottom: 45px;
    clear: both;
}


dt{
    font-size: 20px;
}
dl{
    line-height: 33px;
}





